<nav class="navbar navbar-light bg-success">
  <div class="container-fluid container-div">
    <div class="col-4">
      <a class="navbar-brand mx-4" [routerLink]="['/']">
        <span class="badge bg-warning text-dark">AIRPORT</span>
      </a>
    </div>
    <div class="col-8 d-flex justify-content-end">
      <button *ngIf="showMFE1" class="btn btn-warning mx-2" [routerLink]="['/viewFlights']">
        View FLights
      </button>
      <button *ngIf="showMFE2" class="btn btn-warning mx-2" [routerLink]="['/addFlights']">Add Flights</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
